* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcfaf7;
    overflow-y: none;
    overflow-x: none;
}

.navbar {
    background-color: black;
    width: 100%;
    margin-bottom: 80px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar li {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.navbar a {
    color: white;
    text-decoration:none;
}

.home:hover {
    background: #51514E;
}
.name {
    text-decoration: none;
}

.title {
    font-size: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Trattatello, fantasy;
    width: 100%;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.meal-container {
    margin-top: 50px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 70px;
}

.meal img {
    height: 270px;
    width: 270px;
}

.label {
    text-align: center;
    font-family: Trattatello, fantasy;
    position: relative;
    text-decoration: none;
    color: black;
}
.meal a {
    text-decoration: none;
}

img:hover{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.75;
   }
img:hover > .label {
    opacity: 0.8;
}


.slogan {
    opacity: 0;
   animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin-bottom: 25px;
}

#img1, .title, .appetizer, .reservations {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

#img2, .main {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

#img3, .dessert {
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.reservations-title {
    margin-bottom: 2s0px;
    text-align: center;
    font-family: Trattatello, fantasy;
    font-size: 30px;
}

.date {
    width: 100px;
}

.reservations-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    height: 20px;
    margin-bottom: 10px;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    height: 40px;
}

.btn:hover {
    background: #3A3A38;
    cursor: pointer;
}

.space {
    width: 500px;
    height: 500px;
    margin:100px;
}

footer {
    background-color: #3A3A38;
    color: white;
    text-align: center;
    padding:20px;
}