.navbar {
    background: black;
    width: 100%
}

nav li {
    padding: 10px;
    color: white;
    text-decoration: none;
}

#home:hover,
#contact:hover,
#blog:hover{
    background: #51514E;
}

h1 {
    font-size: 150px;
    margin-top: 80px;
    text-align: center;
    font-family: Trattatello, fantasy;
    width: 100%;
}

.col-md-4 img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    width: 270px;
}

.label {
    text-align: center;
    font-family: Trattatello, fantasy;
    position: relative;
    right: 38px;
    text-decoration: none;
    color: black;
}

img:hover{
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.75;
   }
img:hover > .label {
    opacity: 0.8;
}



#message_header {
    opacity: 0;
   animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#img1, #title, #appetizer {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

#img2, #main {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

#img3, #dessert {
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#reservations {
    margin-top: 60px;
    text-align: center;
    font-family: font-family: Trattatello, fantasy;
}

.date {
    width: 100px;
}

form {
    margin-bottom: 100px;
}

.btn {
    background: black;
}

.btn:hover {
    background: #3A3A38;
}

footer {
    background-color: #3A3A38;
    color: white;
}