.navbar {
    margin-top: 0px;
    background: black;
    width: 100%
}

nav li {
    padding: 10px;
    color: white;
}

nav li:hover {
    background: #51514E;
}

.col-md-4 img {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

h1 {
    font-size: 100px;
    margin-top: 80px;
    text-align: center;
    font-family: Trattatello, fantasy;
}

#img1, #title {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

#img2 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

#img3 {
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

footer {
    background-color: #3A3A38;
    color: white;
    list-style-type: none;
}